In [1]:
!pip install sqlalchemy pymysql openpyxl requests python-dotenv --quiet

In [2]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

# import warnings
# warnings.filterwarnings('ignore')

In [3]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv()

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)

In [12]:
from sqlalchemy import create_engine, text

engine = create_engine("mysql+pymysql://root:root@127.0.0.1:3306/classicmodels")

create_table_sql = """
CREATE TABLE IF NOT EXISTS customer_updates_log (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    customerNumber INT,
    old_phone VARCHAR(50),
    new_phone VARCHAR(50),
    old_email VARCHAR(100),
    new_email VARCHAR(100),
    updated_at DATETIME DEFAULT NOW()
);
"""

with engine.begin() as conn:
    conn.execute(text(create_table_sql))

In [14]:
from sqlalchemy import create_engine, text
from datetime import datetime

def update_customer_info(customer_number, new_phone=None, new_email=None):
    with engine.begin() as conn:
        
        columns_result = conn.execute(text("SHOW COLUMNS FROM customers")).fetchall()
        column_names = [row[0] for row in columns_result]
        has_email_column = 'email' in column_names

        if not has_email_column:
            print("–ö–æ–ª–æ–Ω–∫–∞ email –≤—ñ–¥—Å—É—Ç–Ω—è")

        # 1
        if has_email_column:
            result = conn.execute(
                text("SELECT phone, email FROM customers WHERE customerNumber = :cust_num"),
                {"cust_num": customer_number}
            ).fetchone()
            old_phone, old_email = result if result else (None, None)
        else:
            result = conn.execute(
                text("SELECT phone FROM customers WHERE customerNumber = :cust_num"),
                {"cust_num": customer_number}
            ).fetchone()
            old_phone = result[0] if result else None
            old_email = None  

        # 2
        if has_email_column:
            conn.execute(
                text("""
                    UPDATE customers
                    SET phone = IF(:new_phone IS NOT NULL, :new_phone, phone),
                        email = IF(:new_email IS NOT NULL, :new_email, email)
                    WHERE customerNumber = :cust_num
                """),
                {
                    "new_phone": new_phone,
                    "new_email": new_email,
                    "cust_num": customer_number
                }
            )
        else:
            conn.execute(
                text("""
                    UPDATE customers
                    SET phone = IF(:new_phone IS NOT NULL, :new_phone, phone)
                    WHERE customerNumber = :cust_num
                """),
                {
                    "new_phone": new_phone,
                    "cust_num": customer_number
                }
            )

        # 3
        conn.execute(
            text("""
                INSERT INTO customer_updates_log 
                (customerNumber, old_phone, new_phone, old_email, new_email, updated_at)
                VALUES (:cust_num, :old_phone, :new_phone, :old_email, :new_email, :updated_at)
            """),
            {
                "cust_num": customer_number,
                "old_phone": old_phone,
                "new_phone": new_phone,
                "old_email": old_email,
                "new_email": new_email if has_email_column else None,
                "updated_at": datetime.now()
            }
        )

        print("–Ü–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –æ–Ω–æ–≤–ª–µ–Ω–æ, –ª–æ–≥ –∑–±–µ—Ä–µ–∂–µ–Ω–æ")

update_customer_info(103, new_phone="066883300")

–ö–æ–ª–æ–Ω–∫–∞ email –≤—ñ–¥—Å—É—Ç–Ω—è
–Ü–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –æ–Ω–æ–≤–ª–µ–Ω–æ, –ª–æ–≥ –∑–±–µ—Ä–µ–∂–µ–Ω–æ

In [18]:
from sqlalchemy import create_engine, text
from datetime import date

def create_order(customer_number, order_items):
    """
    customer_number: int ‚Äî ID –∫–ª—ñ—î–Ω—Ç–∞
    order_items: list of dict ‚Äî [{'productCode': 'S10_1678', 'quantity': 5, 'priceEach': 100.0}, ...]
    """
    with engine.begin() as conn:
        # 1
        result = conn.execute(text("SELECT MAX(orderNumber) FROM orders"))
        max_order_number = result.scalar() or 0
        new_order_number = max_order_number + 1

        conn.execute(
            text("""
                INSERT INTO orders (orderNumber, orderDate, requiredDate, status, customerNumber)
                VALUES (:orderNumber, :orderDate, :requiredDate, :status, :customerNumber)
            """),
            {
                "orderNumber": new_order_number,
                "orderDate": date.today(),
                "requiredDate": date.today(),
                "status": "In Process",
                "customerNumber": customer_number
            }
        )

        # 2
        for idx, item in enumerate(order_items, start=1):
            product_code = item['productCode']
            quantity = item['quantity']
            price = item['priceEach']

            # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—É
            stock_result = conn.execute(
                text("SELECT quantityInStock FROM products WHERE productCode = :code"),
                {"code": product_code}
            ).fetchone()

            if not stock_result or stock_result[0] < quantity:
                raise Exception(f"‚ùå –ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É –Ω–∞ —Å–∫–ª–∞–¥—ñ: {product_code}")

            # –î–æ–¥–∞–≤–∞–Ω–Ω—è —É orderdetails
            conn.execute(
                text("""
                    INSERT INTO orderdetails (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                    VALUES (:orderNumber, :productCode, :quantity, :priceEach, :lineNumber)
                """),
                {
                    "orderNumber": new_order_number,
                    "productCode": product_code,
                    "quantity": quantity,
                    "priceEach": price,
                    "lineNumber": idx
                }
            )

            # –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—É –Ω–∞ —Å–∫–ª–∞–¥—ñ
            conn.execute(
                text("""
                    UPDATE products
                    SET quantityInStock = quantityInStock - :quantity
                    WHERE productCode = :code
                """),
                {"quantity": quantity, "code": product_code}
            )

        print(f"‚úÖ –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è ‚Ññ{new_order_number} —Å—Ç–≤–æ—Ä–µ–Ω–æ —É—Å–ø—ñ—à–Ω–æ!")

create_order(
    customer_number=103,
    order_items=[
        {"productCode": "S10_1678", "quantity": 3, "priceEach": 95.0},
        {"productCode": "S18_2248", "quantity": 2, "priceEach": 120.0}
    ]
)

‚úÖ –ó–∞–º–æ–≤–ª–µ–Ω–Ω—è ‚Ññ10427 —Å—Ç–≤–æ—Ä–µ–Ω–æ —É—Å–ø—ñ—à–Ω–æ!

In [17]:
with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT * FROM orders WHERE customerNumber = 103 ORDER BY orderNumber DESC LIMIT 1
    """)).fetchone()
    print(result)

(10426, datetime.date(2025, 8, 1), datetime.date(2025, 8, 1), None, 'In Process', None, 103)