In [1]:
pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: python-dotenv in /opt/anaconda3/lib/python3.12/site-packages (0.21.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

# import warnings
# warnings.filterwarnings('ignore')

In [3]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv()

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)

In [4]:
from sqlalchemy import create_engine, text

In [5]:
# –°—Ç–≤–æ—Ä—é—î–º–æ —Ç–∞–±–ª–∏—Ü—é –¥–ª—è –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç (—Å—É—á–∞—Å–Ω–∏–π —Å–ø–æ—Å—ñ–±)
def create_currency_table(engine):
    """–°—Ç–≤–æ—Ä—é—î —Ç–∞–±–ª–∏—Ü—é —á–µ—Ä–µ–∑ SQLAlchemy"""

    create_table_sql = text("""
    CREATE TABLE IF NOT EXISTS currency_rates (
        id INT AUTO_INCREMENT PRIMARY KEY,
        currency_code VARCHAR(3) NOT NULL,
        rate_to_usd DECIMAL(10, 6) NOT NULL,
        rate_date DATE NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
        INDEX idx_currency_date (currency_code, rate_date),
        UNIQUE KEY unique_currency_date (currency_code, rate_date)
    )
    """)

    with engine.connect() as conn:
        # —Ç—É—Ç –ª–∏—à–µ –æ–¥–Ω–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è - conn.begin() –Ω–µ —Ç—Ä–µ–±–∞
        conn.execute(create_table_sql)

    print("‚úÖ –¢–∞–±–ª–∏—Ü—è currency_rates —Å—Ç–≤–æ—Ä–µ–Ω–∞")

def fetch_exchange_rates():
    """–û—Ç—Ä–∏–º—É—î –∫—É—Ä—Å–∏ –≤–∞–ª—é—Ç –∑ API"""
    try:
        # –ë–µ–∑–∫–æ—à—Ç–æ–≤–Ω–∏–π API –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç
        url = "https://api.exchangerate-api.com/v4/latest/USD"
        response = requests.get(url, timeout=10)
        response.raise_for_status()

        data = response.json()

        # –í–∞–ª—é—Ç–∏ —â–æ –Ω–∞—Å —Ü—ñ–∫–∞–≤–ª—è—Ç—å
        currencies = ['EUR', 'GBP', 'UAH', 'PLN', 'JPY', 'CAD']
        rates = {}

        for currency in currencies:
            if currency in data['rates']:
                # –ó–±–µ—Ä—ñ–≥–∞—î–º–æ –∫—É—Ä—Å –¥–æ USD (—Å–∫—ñ–ª—å–∫–∏ –æ–¥–∏–Ω–∏—Ü—å –≤–∞–ª—é—Ç–∏ –∑–∞ 1 USD)
                rates[currency] = data['rates'][currency]

        return rates, datetime.date.today()

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ API: {e}")
        return None, None

def save_exchange_rates(engine, rates_dict, rate_date):
    """–ó–±–µ—Ä—ñ–≥–∞—î –∫—É—Ä—Å–∏ –≤ –ë–î –∑ –æ–±—Ä–æ–±–∫–æ—é –∫–æ–Ω—Ñ–ª—ñ–∫—Ç—ñ–≤"""

    if not rates_dict:
        print("‚ùå –ù–µ–º–∞—î –¥–∞–Ω–∏—Ö –¥–ª—è –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è")
        return False

    # SQL –∑ ON DUPLICATE KEY UPDATE –¥–ª—è MySQL
    insert_sql = text("""
    INSERT INTO currency_rates (currency_code, rate_to_usd, rate_date)
    VALUES (:currency, :rate, :date)
    ON DUPLICATE KEY UPDATE
        rate_to_usd = VALUES(rate_to_usd),
        updated_at = CURRENT_TIMESTAMP
    """)

    try:
        with engine.connect() as conn:
            with conn.begin():  # –¢—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è –¥–ª—è –≤—Å—ñ—Ö –≤—Å—Ç–∞–≤–æ–∫
                for currency, rate in rates_dict.items():
                    conn.execute(insert_sql, {
                        'currency': currency,
                        'rate': rate,
                        'date': rate_date
                    })

        print(f"‚úÖ –ó–±–µ—Ä–µ–∂–µ–Ω–æ {len(rates_dict)} –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç –Ω–∞ {rate_date}")
        return True

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è: {e}")
        return False

In [6]:
# –í–∏–∫–æ–Ω—É—î–º–æ –ø–æ–≤–Ω–∏–π —Ü–∏–∫–ª API ‚Üí –ë–î
create_currency_table(engine)

print("üì° –û—Ç—Ä–∏–º—É—î–º–æ –∫—É—Ä—Å–∏ –≤–∞–ª—é—Ç...")
rates, date = fetch_exchange_rates()

if rates:
    print(f"–û—Ç—Ä–∏–º–∞–Ω—ñ –∫—É—Ä—Å–∏ –Ω–∞ {date}:")
    for currency, rate in rates.items():
        print(f"  1 USD = {rate:.4f} {currency}")

    # –ó–±–µ—Ä—ñ–≥–∞—î–º–æ –≤ –ë–î
    if save_exchange_rates(engine, rates, date):
        # –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ –∑–±–µ—Ä–µ–∂–µ–Ω—ñ –¥–∞–Ω—ñ
        verification_df = pd.read_sql(
            "SELECT * FROM currency_rates ORDER BY created_at DESC LIMIT 10",
            engine
        )
        print("\n–ó–±–µ—Ä–µ–∂–µ–Ω—ñ –¥–∞–Ω—ñ:")
        display(verification_df)

‚úÖ –¢–∞–±–ª–∏—Ü—è currency_rates —Å—Ç–≤–æ—Ä–µ–Ω–∞
üì° –û—Ç—Ä–∏–º—É—î–º–æ –∫—É—Ä—Å–∏ –≤–∞–ª—é—Ç...
–û—Ç—Ä–∏–º–∞–Ω—ñ –∫—É—Ä—Å–∏ –Ω–∞ 2025-08-10:
  1 USD = 0.8590 EUR
  1 USD = 0.7440 GBP
  1 USD = 41.4300 UAH
  1 USD = 3.6500 PLN
  1 USD = 147.6600 JPY
  1 USD = 1.3800 CAD
‚úÖ –ó–±–µ—Ä–µ–∂–µ–Ω–æ 6 –∫—É—Ä—Å—ñ–≤ –≤–∞–ª—é—Ç –Ω–∞ 2025-08-10

–ó–±–µ—Ä–µ–∂–µ–Ω—ñ –¥–∞–Ω—ñ:

,id,currency_code,rate_to_usd,rate_date,created_at,updated_at
0,1,EUR,0.859,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
1,2,GBP,0.744,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
2,3,UAH,41.430,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
3,4,PLN,3.650,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
4,5,JPY,147.660,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
5,6,CAD,1.380,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51

In [8]:
# —Ç—É—Ç —è –¥–æ–¥–∞–≤ —Ç—ñ–ª—å–∫–∏ CAD
currency_rates = "SELECT id, currency_code, rate_to_usd, rate_date, created_at, updated_at FROM classicmodels.currency_rates"
df_classicmodels = pd.read_sql(currency_rates, engine)

display(df_classicmodels)

,id,currency_code,rate_to_usd,rate_date,created_at,updated_at
0,1,EUR,0.859,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
1,2,GBP,0.744,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
2,3,UAH,41.430,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
3,4,PLN,3.650,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
4,5,JPY,147.660,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51
5,6,CAD,1.380,2025-08-10,2025-08-10 09:03:05,2025-08-10 10:37:51

In [11]:
import pandas as pd
from sqlalchemy import create_engine

query_base = """
SELECT
  o.orderNumber,
  o.orderDate,
  c.customerNumber,
  c.customerName,
  c.country,
  p.productLine,
  p.productName,
  p.buyPrice,
  od.priceEach,
  od.quantityOrdered
FROM orders o
JOIN orderdetails od ON o.orderNumber = od.orderNumber
JOIN products p ON od.productCode = p.productCode
JOIN customers c ON o.customerNumber = c.customerNumber
WHERE YEAR(o.orderDate) = 2004
ORDER BY o.orderDate
"""
df = pd.read_sql_query(query_base, engine)

# –ë–µ—Ä–µ–º–æ –∫—É—Ä—Å–∏ EUR (rate_to_usd) 
rates_q = """
SELECT rate_date, rate_to_usd
FROM currency_rates
WHERE currency_code = 'EUR'
ORDER BY rate_date
"""
df_rates = pd.read_sql_query(rates_q, engine)

df['orderDate'] = pd.to_datetime(df['orderDate'])
df_rates['rate_date'] = pd.to_datetime(df_rates['rate_date'])

df = df.sort_values('orderDate').reset_index(drop=True)
df_rates = df_rates.sort_values('rate_date').reset_index(drop=True)

df = pd.merge_asof(df, df_rates, left_on='orderDate', right_on='rate_date', direction='nearest')
df = df.rename(columns={'rate_to_usd': 'eur_rate'})

# –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞: —è–∫—â–æ –≤—Å–µ —â–µ NaN –≤ eur_rate ‚Äî –ø–æ–≤—ñ–¥–æ–º–∏–º–æ
if df['eur_rate'].isna().any():
    print("–£–≤–∞–≥–∞: —î —Ä—è–¥–∫–∏ –±–µ–∑ –∫—É—Ä—Å—É EUR (eur_rate). –ú–æ–∂–ª–∏–≤–æ –Ω–µ–º–∞—î –¥–∞–Ω–∏—Ö —É currency_rates –¥–ª—è –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ–≥–æ –ø–µ—Ä—ñ–æ–¥—É.")

# –î–æ–¥–∞—î–º–æ –∫–æ–ª–æ–Ω–∫–∏
df['profit_per_item'] = df['priceEach'] - df['buyPrice']
df['total_profit'] = df['profit_per_item'] * df['quantityOrdered']
df['total_amount'] = df['priceEach'] * df['quantityOrdered']

# –ö–æ–Ω–≤–µ—Ä—Ç–∞—Ü—ñ—è –≤ —î–≤—Ä–æ
df['total_amount_eur'] = df.apply(
    lambda r: r['total_amount'] / r['eur_rate'] if pd.notna(r['eur_rate']) and r['eur_rate'] != 0 else pd.NA,
    axis=1
)

# 2.2 
df_country = df.groupby('country', as_index=False).agg(
    unique_orders=('orderNumber', 'nunique'),
    total_revenue=('total_amount', 'sum'),
    total_profit=('total_profit', 'sum'),
    total_qty=('quantityOrdered', 'sum')
)
df_country['profit_margin_%'] = (df_country['total_profit'] / df_country['total_revenue']) * 100
df_top5_countries = df_country.sort_values('total_revenue', ascending=False).head(5)

# 2.3 
df_productline = df.groupby('productLine', as_index=False).agg(
    unique_orders=('orderNumber', 'nunique'),
    total_revenue=('total_amount', 'sum'),
    total_profit=('total_profit', 'sum'),
    total_qty=('quantityOrdered', 'sum')
)
df_productline['profit_margin_%'] = (df_productline['total_profit'] / df_productline['total_revenue']) * 100
df_productline = df_productline.sort_values('total_revenue', ascending=False)

# 2.4 Executive Summary 

orders_sum = df.groupby('orderNumber', as_index=False)['total_amount'].sum()
avg_order_value = orders_sum['total_amount'].mean()

exec_summary = {
    'total_revenue_usd': float(df['total_amount'].sum()),
    'total_revenue_eur': float(df['total_amount_eur'].dropna().sum()),
    'total_profit_usd': float(df['total_profit'].sum()),
    'profit_margin_%': float((df['total_profit'].sum() / df['total_amount'].sum()) * 100) if df['total_amount'].sum() != 0 else None,
    'avg_order_value_usd': float(avg_order_value),
    'unique_orders': int(df['orderNumber'].nunique()),
    'unique_customers': int(df['customerName'].nunique()),
    'min_date': df['orderDate'].min(),
    'max_date': df['orderDate'].max()
}

# –í–∏–≤—ñ–¥ —Ç–∞ –∑–±–µ—Ä–µ–∂–µ–Ω–Ω—è 
print("–¢–û–ü-5 –∫—Ä–∞—ó–Ω –∑–∞ –¥–æ—Ö–æ–¥–æ–º (2004)")
display(df_top5_countries.style.format({
    'total_revenue':'${:,.2f}',
    'total_profit':'${:,.2f}',
    'profit_margin_%':'{:.2f}%'
}))

print("\n–ê–Ω–∞–ª—ñ—Ç–∏–∫–∞ –ø–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤–∏–º –ª—ñ–Ω—ñ—è–º")
display(df_productline.style.format({
    'total_revenue':'${:,.2f}',
    'total_profit':'${:,.2f}',
    'profit_margin_%':'{:.2f}%'
}))

print("\nExecutive Summary")
for k, v in exec_summary.items():
    print(f"{k}: {v}")

# –ó–±–µ—Ä–µ–∂–µ–Ω–Ω—è CSV
df_top5_countries.to_csv('top5_countries_2004.csv', index=False)
df_productline.to_csv('productline_analysis_2004.csv', index=False)
pd.DataFrame([exec_summary]).to_csv('executive_summary_2004.csv', index=False)

print("\n–§–∞–π–ª–∏ –∑–±–µ—Ä–µ–∂–µ–Ω–æ: top5_countries_2004.csv, productline_analysis_2004.csv, executive_summary_2004.csv")

–¢–û–ü-5 –∫—Ä–∞—ó–Ω –∑–∞ –¥–æ—Ö–æ–¥–æ–º (2004)

–ê–Ω–∞–ª—ñ—Ç–∏–∫–∞ –ø–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤–∏–º –ª—ñ–Ω—ñ—è–º

Executive Summary
total_revenue_usd: 4515905.51
total_revenue_eur: 5257165.902211874
total_profit_usd: 1809381.1400000001
profit_margin_%: 40.06685117731793
avg_order_value_usd: 29906.659006622514
unique_orders: 151
unique_customers: 89
min_date: 2004-01-02 00:00:00
max_date: 2004-12-17 00:00:00

–§–∞–π–ª–∏ –∑–±–µ—Ä–µ–∂–µ–Ω–æ: top5_countries_2004.csv, productline_analysis_2004.csv, executive_summary_2004.csv